<hr>
<div class="list_holder">
<div id="showcontent">
<div class="show_location"><%= @property.address.split(',').first %></div>
<div class="show_neighborhood"><%= @property.neighborhood %></div>
<div class="show_proximity"><%= @property.proximity %></div>
<div class="show_price">$<%= number_with_delimiter(@property.price, :delimiter => ',') %></div>
<table cellpadding="0" cellpadding="0">
<tr><td>Maintenance</td><td align="right">$<%= @property.maintenance %></td></tr>
<tr><td>Type</td><td align="right"><%= @property.property_type %></td></tr>
<tr><td>Beds</td><td align="right"><%= @property.bed %></td></tr>
<tr><td>Baths</td><td align="right"><%= @property.bath %></td></tr>
<tr><td>Doorman</td><td align="right"><%= @property.doorman %></td></tr>
<tr><td>Outdoor Space</td><td align="right"><%= @property.outdoor %></td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" align="center"><%= link_to 'Mortage Calculator', '#', data: {toggle: 'modal', target: '#myModal'} %></td></tr>
</table>
</div>
  <div id="photos">
  <div class="w3-content w3-display-container">
  <% @property.images %><% @property.images_folder %>
  <%= image_tag @property.images_folder + '/1.jpg', class: 'mySlides' %>
  <%= image_tag @property.images_folder + '/2.jpg', class: 'mySlides' %>
  <%= image_tag @property.images_folder + '/3.jpg', class: 'mySlides' %>
  <%= image_tag @property.images_folder + '/4.jpg', class: 'mySlides' %>
  <%= image_tag @property.images_folder + '/5.jpg', class: 'mySlides' %>
  <%= image_tag @property.images_folder + '/6.jpg', class: 'mySlides' %>
  <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
  <a class="w3-btn-floating w3-display-right" onclick="plusDivs(+1)">&#10095;</a>
  </div>
  <div class="w3-content w3-display-container w3-display-center">
    <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(1)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(2)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(3)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(4)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(5)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(6)"></span>
  </div>
  <script>
  showDivs(slideIndex);
  </script>
</div>
<div class="clear_left"></div>
<div class="show_description"><%= @property.description %></div>
<% if @property.latitude.present? && @property.longitude.present? %>
<div id="map"></div>
    <script>
      function initMap() {
        var myLatLng = {lat: <%= @property.latitude %>, lng: <%= @property.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq1nE3WDOJD4EXPCMb0JzEpyS97KlZu20&callback=initMap">
    </script>
    <% end %>
    <div class="clear_left"></div>
      <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">Mortage Calculator</h3>
        </div>
        <div class="modal-body">
          <div id="mort_calc">
<form name=temps>
<table cellspacing="0" cellpadding="0" width="100%">
<tr><td>Years:</td><td align="right"><input onChange=dosum() size=6 value=30 name=YR></td></tr>
<tr><td>Interest:</td><td align="right"><input onChange=dosum() size=6 value=3.5 name=IR></td></tr>
<tr><td>Loan Amount:</td><td align="right"><input onchange=dosum() size=6 name=LA></td></tr>
<tr><td>Annual Tax:</td><td align="right"><input onchange=dosum() size=6 name=AT></td></tr>
<tr><td>Annual Insurance:</td><td align="right"><input onchange=dosum() size=6 name=AI></td></tr>
<tr><td align="center" colspan="2"><input onClick=dosum() type=button value="Calculate Payment" class="btn calculate"></td></tr>
<tr><td>Monthly Principal + Interest:</td><td align="right"><input size=10 name=PI></td></tr>
<tr><td>Monthly Tax:</td><td align="right"><input size=10 name=MT></td></tr>
<tr><td>Monthly Insurance:</td><td align="right"><input size=10 name=MI></td></tr>
<tr><td>Total Payment:</td><td align="right"><input size=10 name=MP></td></tr>
</table>
</form>
</div>
        </div>
      </div>
    </div>
</div><!--Modal end-->