<!DOCTYPE html>
<html>
<head>
  <title>Brooklyn Real Estate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Brooklyn Real Estate</h1>
<%= link_to "Admin", admin_path %> &mdash; <%= link_to "Home", root_path %> &mdash; <%= link_to "Sales", sales_path %> &mdash; <%= link_to "Rentals", rentals_path %>
<%= yield %>

</body>
</html>
